output/
.Rproj.user
analysis/.Rhistory
analysis/ExtendedModel-analysis/experiments/abandoned_code.R
run-scripts/OriginalModel/
run-scripts/ExtendedModel-sensitivity/slurm*
run-scripts/ExtendedModel-sensitivity/*.sbatch
run-scripts/ExtendedModel-model-runs/slurm*

**/.DS_Store

